@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  background-color:black;
}

.main {
  position: relative;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}


.main .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
  z-index: 1;
}

nav {
  padding-top: 10px;
  max-width: 95vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

nav img {
  height: 70;
  width: 180px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: 85%;
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  max-width: 70vw;
  padding-left: 1%;
  /* gap: 5px; */
  justify-content:end;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 1;
}

.hero > :nth-child(1) {
  font-weight: 600;
  font-size: 40px;
}
.hero > :nth-child(2) {
  font-weight: 500;
  font-size: 40px;
}
.hero > :nth-child(3) {
  font-weight: 600;
  font-size: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 5px 16px;
  font-weight: bolder;
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sec_btn {
  margin-top: 15px;
  padding: 5px 10px;
  width: 15%;
  font-size: larger;
  background-color:rgb(248, 229, 229);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.sec_btn2 {
  width: 13%;
  margin-top: 15px;
  padding: 5px 10px;
  font-size: larger;
  background-color: rgba(56, 55, 55, 0.877);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  
}

.sec_btn a{
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.sec_btn2 a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}


.sec_btn:hover{
  transition: all 0.2s ease;
  background-color: rgb(124, 109, 109);
}

.sec_btn2:hover{
  transition: all 0.2s ease;
  background-color: rgb(29, 28, 28);
}

input {
  padding: 10px 65px 10px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.452);
  border: 1px solid rgb(87, 85, 85);
  border-radius: 4px;
  cursor: pointer;
}

.line {
  height: 4px;
  background-color: #131111b4;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 60vw;
  margin: auto;
  height: 60vh;
}

.secImg img {
  width: 30vw;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.secImg {
  position: relative;
}

.secImg video {
  position: absolute;
  top: 13%;
  right: 2%;
  width: 27vw;
  overflow: hidden;
}

.content > div {
  display: flex;
  flex-direction: column;
}

.content > div :nth-child(1) {
  font-size: 48px;
  font-weight: 600;
}

.content > div :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
}

.secSection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 70vw;
  margin: auto;
  height: 60vh;
}

.secSection > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.secSection > div:nth-child(2) :nth-child(1) {
  font-weight: 500;
  font-size: 34px;
}
.secSection > div:nth-child(3):nth-child(2) {
  font-weight: 400;
  font-size: 16px;
}

.trending {
  position: relative;
  display: flex;
  /* max-width: 100vw; */
  color: white;
  padding-left: 1%;
  /* justify-content: center;
  align-items: center; */
}

.trending span {
  position: absolute;
  /* top: 10; */
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
}

.projects{
  padding-left:1%;
  color: white;
  font-size: 30px;
  font-weight: 500;
  
}
.container1 {
  margin-left: 3%;
  /* padding-bottom: 90px; */
  display: flex;
  /* margin-left: 10%; */
  /* border: 2px solid white; */
  align-items: center;
  gap: 35px;
  width: 90vw;
  overflow-x: auto;
  height: 60vh;
}

.container1::-webkit-scrollbar {
  display: none;
}

.container1 img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.container1 img:hover {
  border: none; 
  /* border: 1px solid white; */
  box-shadow: 0 0 20px 5px #b92027c0; 
  transform: scale(1.05); 
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); 
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);  */
}

.faq {
  background-color: black;
  color: white;
  padding: 50px;
}

.faq h2 {
  text-align: center;
}

.faq h5 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.f-box {
  display: flex;
  background-color: #2d2d2d;
  color: white;
  padding: 15px;
  justify-content: space-between;
  max-width: 60vw;
  margin: 10px auto;
  cursor: pointer;
  font-size: 20px;
}

.f-box:hover {
  transition: all 0.2s ease-in-out;
  background-color: #202020;
}

footer {
  padding-top: 40px;
}

.footer-main {
  position: relative;
  height: 60vh;
}

.footer-button {
  margin-top: 20px;
  padding: 4px 30px;
  font-weight: 400;
  color: white;
  background-color: rgba(14, 13, 13, 0.644);
  border: 1px solid rgba(255, 255, 255, 0.404);
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  left: 13.5%;
}

.footer-item {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  color: white;
  max-width: 70vw;
  margin: auto;
  padding: 0 20px 20px 0;
}

.footer-item a {
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.footer span {
  color: white;
}


@media screen and (max-width: 1300px) {
  .content {
    flex-wrap: wrap;
  }
  .secSection {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .footer-item {
    display: grid;
    grid-template-columns: 2fr 2fr;
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 0 20px 20px 0;
  }
  .footer-button {
    margin-top: 20px;
    padding: 4px 10px;
    font-weight: 400;
    color: white;
    background-color: rgba(14, 13, 13, 0.644);
    border: 1px solid rgba(255, 255, 255, 0.404);
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    left: 13.5%;
  }
  .container img {
    border-radius: 15px;
    height: 25vh;
    width: 40vw;
  }
}
