@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.intro {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 180px;
  opacity: 1;
  transition: transform 0.3s ease;
}

.logo.animate {
  animation: zoomFade 3s ease-in-out forwards;
}

@keyframes zoomFade {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.main {
  position: relative;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.main .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
  z-index: 1;
}

nav {
  padding-top: 10px;
  max-width: 95vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

nav img {
  height: 170px;
  width: 180px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: 85%;
  display: flex;
  width: 75%;
  max-width: 1000px;
  padding-left: 1%;
  justify-content: end;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 1;
}

.hero > :nth-child(1),
.hero > :nth-child(2) {
  font-weight: 600;
  font-size: 40px;
}

.hero > :nth-child(3) {
  font-weight: 600;
  font-size: 15px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn, .sec_btn, .sec_btn2 {
  padding: 5px 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn {
  background-color: red;
  color: white;
}

.sec_btn {
  margin-top: 15px;
  width: 150px;
  font-size: larger;
  background-color: rgb(248, 229, 229);
}

.sec_btn2 {
  width: 150px;
  margin-top: 15px;
  font-size: larger;
  background-color: rgba(56, 55, 55, 0.877);
  margin-left: 10px;
}

.sec_btn a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.sec_btn2 a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.sec_btn:hover {
  background-color: rgb(124, 109, 109);
}

.sec_btn2:hover {
  background-color: rgb(29, 28, 28);
}

input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.452);
  border: 1px solid rgb(87, 85, 85);
  border-radius: 4px;
}

.line {
  height: 4px;
  background-color: #131111b4;
}

.content, .secSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 90vw;
  margin: auto;
  padding: 20px 0;
}

.secImg img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.secImg {
  position: relative;
}

.secImg video {
  position: absolute;
  top: 13%;
  right: 2%;
  width: 90%;
  max-width: 350px;
}

.content > div, .secSection > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content > div :nth-child(1), .secSection > div:nth-child(2) :nth-child(1) {
  font-size: 32px;
  font-weight: 600;
}

.content > div :nth-child(2), .secSection > div:nth-child(2) :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
}

.trending, .projects {
  padding: 20px 1%;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.container1 {
  display: flex;
  align-items: center;
  gap: 35px;
  width: 95vw;
  overflow-x: auto;
  padding: 20px 0;
}

.container1::-webkit-scrollbar {
  display: none;
}

.container1 img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.container1 img:hover {
  box-shadow: 0 0 20px 5px #b92028fd;
  transform: scale(1.05);
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.faq {
  background-color: black;
  color: white;
  padding: 50px 20px;
}

.faq h2, .faq h5 {
  text-align: center;
}

.f-box {
  display: flex;
  background-color: #2d2d2d;
  color: white;
  padding: 15px;
  justify-content: space-between;
  max-width: 90vw;
  margin: 10px auto;
  cursor: pointer;
  font-size: 18px;
}

.f-box:hover {
  background-color: #202020;
}

footer {
  padding-top: 40px;
}

.footer-main {
  height: auto;
  padding: 30px 0;
}

.footer-button {
  margin-top: 20px;
  padding: 6px 20px;
  font-weight: 400;
  color: white;
  background-color: rgba(14, 13, 13, 0.644);
  border: 1px solid rgba(255, 255, 255, 0.404);
  border-radius: 3px;
  cursor: pointer;
}

.footer-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  color: white;
  max-width: 90vw;
  margin: auto;
  padding: 20px;
}

.footer-item a {
  color: white;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}

.footer span {
  color: white;
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}


@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    padding-left: 3%;
    /* align-items: center; */
    /* text-align: center; */
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  .hero > :nth-child(1),
  .hero > :nth-child(2) {
    font-size: 28px;
    width: 100%
  }
  
  .hero > :nth-child(3) {
    width: 99%;
    font-size: 13px;
  }

  .sec_btn,
  .sec_btn2 {
    width: 97%;
    /* max-width: 100px; */
    margin-left: 0%;
  }

  .secImg img, .secImg video {
    width: 90vw;
  }

  .content > div :nth-child(1),
  .secSection > div:nth-child(2) :nth-child(1) {
    font-size: 26px;
  }
}

@media screen and (max-width: 450px) {
  .secImg video {
    position: absolute;
    top: 13%;
    right: 2%;
    width: 86%;
    max-width: 350px;
  }
}

@media screen and (max-width: 850px) {
  .secImg video {
    position: absolute;
    top: 13%;
    right: 2%;
    width: 86%;
    max-width: 360px;
  }
}
